@page "/SpotPage"

@inject ISessionStorageGenericService<SpotsDim> SessionStorageSpotDimService;


@if(showWait)
{

}
else
{

}
<h3>SpotPage @mainSpot?.SpotName</h3>

@code {
    private bool showWait = true;

    [Parameter]
    public SpotsDim? mainSpot { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var spotId = NavigationManager.GetUriWithQueryParameter("spotId", true);
        mainSpot = await SessionStorageSpotDimService.GetItemFromSessionStorage(jsRuntime, mainSpot);
        showWait = false;
    }
}
